## Working with Tables III: Sorting and Grouping

In [2]:
import pandas as pd

Example:

In [29]:
t = pd.DataFrame()
t['Firm']      = ['A','B','C','D','E','F']
t['Sector']    = ['Healthcare','Industrials','Healthcare','Healthcare','Industrials','Industrials']
t['Style']     = ['Growth','Growth','Value','Growth','Value','Value']
t['Sales']   = [800,1600,500,4000,6000,400]  #Change this back to Revenue...I switched it to do Quiz4
t['Earnings']  = [200,400,100,800,600,5000]
t

  Firm       Sector   Style  Sales  Earnings
0    A   Healthcare  Growth    800       200
1    B  Industrials  Growth   1600       400
2    C   Healthcare   Value    500       100
3    D   Healthcare  Growth   4000       800
4    E  Industrials   Value   6000       600
5    F  Industrials   Value    400      5000

Total earnings:

In [30]:
t.Earnings.sum()

7100

Total earnings per sector:

In [31]:
t.groupby('Sector').sum()

             Sales  Earnings
Sector
Healthcare    5300      1100
Industrials   8000      6000

If we don't want the group column to become the index:

In [37]:
t.groupby('Sector', as_index=False).sum()

        Sector  Sales  Earnings
0   Healthcare   5300      1100
1  Industrials   8000      6000

Total earnings per sector and style:

In [38]:
x = t.groupby(['Sector','Style'])[['Earnings']].sum()
x

                    Earnings
Sector      Style
Healthcare  Growth      1000
            Value        100
Industrials Growth       400
            Value       5600

In [39]:
y = t.groupby(['Style','Sector'])[['Earnings']].sum()
y

                    Earnings
Style  Sector
Growth Healthcare       1000
       Industrials       400
Value  Healthcare        100
       Industrials      5600

Unstack this table:

In [17]:
x.Earnings.unstack()

Style        Growth  Value
Sector
Healthcare     1000    100
Industrials     400   5600

In [19]:
y.Earnings.unstack()

Sector  Healthcare  Industrials
Style
Growth        1000          400
Value          100         5600

Or unstack level 0:

In [20]:
x.Earnings.unstack(level=0)

Sector  Healthcare  Industrials
Style
Growth        1000          400
Value          100         5600

Sort table by earnings:

In [21]:
t.sort_values('Earnings')

  Firm       Sector   Style  Revenue  Earnings
2    C   Healthcare   Value      500       100
0    A   Healthcare  Growth      800       200
1    B  Industrials  Growth     1600       400
4    E  Industrials   Value     6000       600
3    D   Healthcare  Growth     4000       800
5    F  Industrials   Value      400      5000

Sort by sector and earnings:

In [25]:
t.sort_values(['Sector','Earnings'])

  Firm       Sector   Style  Revenue  Earnings
2    C   Healthcare   Value      500       100
0    A   Healthcare  Growth      800       200
3    D   Healthcare  Growth     4000       800
1    B  Industrials  Growth     1600       400
4    E  Industrials   Value     6000       600
5    F  Industrials   Value      400      5000

Change the sorting order:

In [24]:
t.sort_values(['Sector','Earnings'], ascending=[True,False])

  Firm       Sector   Style  Revenue  Earnings
3    D   Healthcare  Growth     4000       800
0    A   Healthcare  Growth      800       200
2    C   Healthcare   Value      500       100
5    F  Industrials   Value      400      5000
4    E  Industrials   Value     6000       600
1    B  Industrials  Growth     1600       400

Select firm with highest earnings per sector:

In [29]:
t.sort_values(['Sector','Earnings']).groupby('Sector').last()

            Firm   Style  Revenue  Earnings
Sector
Healthcare     D  Growth     4000       800
Industrials    F   Value      400      5000