## Quiz 6 Answers

In [24]:
import pandas as pd 

from tiingo import TiingoClient
import quandl

tiingo = TiingoClient({'api_key':'XXXX'})
quandl.ApiConfig.api_key = 'YYYY'

Question 3:

In [3]:
tsla = tiingo.get_dataframe('TSLA', '1990-1-1')
tsla[-3:]

,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
date,,,,,,,,,,,,
2021-03-25 00:00:00+00:00,640.39,645.50,609.50,613.00,39224850,640.39,645.50,609.50,613.00,39224850,0.0,1.0
2021-03-26 00:00:00+00:00,618.71,643.82,599.89,641.87,33852827,618.71,643.82,599.89,641.87,33852827,0.0,1.0
2021-03-29 00:00:00+00:00,611.29,616.48,596.02,615.64,28636985,611.29,616.48,596.02,615.64,28636985,0.0,1.0

In [4]:
tsla.loc['2014-10','volume'].mean() / 1000

6615.138260869566

Question 4:

In [5]:
tsla.loc['2018'][:100].close.max()

357.42

Question 6:

In [6]:
tsla[tsla.volume<5*10**6].close.mean()

132.51196175359027

Question 8:

In [7]:
ups = tiingo.get_dataframe('UPS','1950-01-01')
ups[-3:]

,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
date,,,,,,,,,,,,
2021-03-25 00:00:00+00:00,163.25,163.65,158.70,159.50,2944517,163.25,163.65,158.70,159.50,2944517,0.0,1.0
2021-03-26 00:00:00+00:00,167.98,168.10,163.79,164.50,3135491,167.98,168.10,163.79,164.50,3135491,0.0,1.0
2021-03-29 00:00:00+00:00,168.14,168.97,166.66,167.61,2702638,168.14,168.97,166.66,167.61,2702638,0.0,1.0

In [8]:
ups.close.loc['2015-8-28']

98.64

Question 11:

In [9]:
(1+2.5/80) * 2

2.0625

Question 12:

In [10]:
mcd = tiingo.get_dataframe('MCD','1950-01-01')

mcd[mcd.splitFactor!=1]

,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
date,,,,,,,,,,,,
1971-06-14 00:00:00+00:00,55.50,55.50,54.62,55.50,34930,0.360052,0.360052,0.354343,0.360052,2829330,0.0,1.5
1972-06-06 00:00:00+00:00,54.63,56.50,54.63,56.50,34015,0.708816,0.733079,0.708816,0.733079,1377607,0.0,2.0
1982-10-07 00:00:00+00:00,56.00,62.00,56.00,59.00,393244,1.089888,1.206661,1.089888,1.148274,10617588,0.0,1.5
1984-09-25 00:00:00+00:00,49.38,49.50,48.50,49.13,200296,1.441571,1.445074,1.415881,1.434273,3605328,0.0,1.5
1986-06-26 00:00:00+00:00,70.88,70.88,69.88,70.88,174933,3.103844,3.103844,3.060054,3.103844,2099196,0.0,1.5
1987-06-23 00:00:00+00:00,55.00,57.75,54.50,55.00,686667,3.612685,3.793320,3.579843,3.612685,5493336,0.0,1.5
1989-06-19 00:00:00+00:00,29.00,29.25,28.50,28.50,513750,3.892014,3.925566,3.824911,3.824911,2055000,0.0,2.0
1994-06-27 00:00:00+00:00,29.88,30.00,29.38,29.50,588800,8.409820,8.443595,8.269094,8.302868,1177600,0.0,2.0
1999-03-08 00:00:00+00:00,45.25,46.56,45.06,46.38,2778450,26.243033,27.002776,26.132841,26.898384,2778450,0.0,2.0

Question 13:

In [11]:
1.5 ** 4 * 2 * 10                 # see splits above

101.25

Question 14:

In [12]:
mcd.splitFactor.prod() * mcd.close['2020-7'][-1:]

date
2020-07-31 00:00:00+00:00    23605.02
Name: close, dtype: float64

Question 15:

In [14]:
mcd['r'] = mcd.adjClose.pct_change()

mcd.close.iloc[0] * mcd.r.add(1).cumprod()[:'2020-7']

date
1970-01-02 00:00:00+00:00             NaN
1970-01-05 00:00:00+00:00       45.000000
1970-01-06 00:00:00+00:00       45.250000
1970-01-07 00:00:00+00:00       45.000000
1970-01-08 00:00:00+00:00       45.000000
                                 ...
2020-07-27 00:00:00+00:00    45702.658067
2020-07-28 00:00:00+00:00    44564.917362
2020-07-29 00:00:00+00:00    44558.104544
2020-07-30 00:00:00+00:00    44376.429381
2020-07-31 00:00:00+00:00    44119.813214
Name: r, Length: 12758, dtype: float64

Question 16:

In [15]:
ups['r'] = ups.adjClose.pct_change()

ups.r['2010':'2018'].add(1).cumprod() * 50

date
2010-01-04 00:00:00+00:00     50.705944
2010-01-05 00:00:00+00:00     50.793097
2010-01-06 00:00:00+00:00     50.418337
2010-01-07 00:00:00+00:00     50.034861
2010-01-08 00:00:00+00:00     52.440300
                                ...
2018-12-24 00:00:00+00:00    102.078258
2018-12-26 00:00:00+00:00    109.709429
2018-12-27 00:00:00+00:00    111.038070
2018-12-28 00:00:00+00:00    109.618581
2018-12-31 00:00:00+00:00    110.754172
Name: r, Length: 2264, dtype: float64

Question 17:

In [16]:
irbt = tiingo.get_dataframe('IRBT','1950-01-01')

r_weekly = irbt.adjClose.resample('W').last().pct_change()
r_weekly.nsmallest(2)

date
2018-02-11 00:00:00+00:00   -0.346649
2012-02-12 00:00:00+00:00   -0.317212
Freq: -313W-SUN, Name: adjClose, dtype: float64

Question 18:

In [17]:
cvx = tiingo.get_dataframe('CVX', '1900')
x = cvx.adjClose.resample('M').last().pct_change()
len(x[x>0.05]) / len(x)

0.23739837398373984

Question 19:

In [21]:
rates = quandl.get(['FRED/DGS1','FRED/DGS5','FRED/DGS10','FRED/DGS30']) / 100
rates['FRED/DGS10 - Value']['2010':'2020'].nlargest(5)

Date
2010-04-05    0.0401
2010-04-06    0.0398
2010-04-02    0.0396
2010-03-25    0.0391
2010-04-08    0.0391
Name: FRED/DGS10 - Value, dtype: float64

Question 20:

In [22]:
iwv = tiingo.get_dataframe('IWV', '1900')
iwv.index = iwv.index.tz_convert(None)
r_annual = iwv.adjClose.resample('A').last().pct_change()
rx_annual = r_annual - rates['FRED/DGS1 - Value'].resample('A').first()
rx_annual['2010':'2020']

2010-12-31    0.164077
2011-12-31    0.004799
2012-12-31    0.163166
2013-12-31    0.328617
2014-12-31    0.122595
2015-12-31    0.000879
2016-12-31    0.120292
2017-12-31    0.200846
2018-12-31   -0.072411
2019-12-31    0.280600
2020-12-31    0.189883
Freq: A-DEC, dtype: float64

In [23]:
rx_annual['2010':'2020'].mean()

0.13666767521074732